{{#each surveys as |survey|}}
<div class="show-survey" survey-id="{{survey._id}}">
  <form>
    <fieldset>
        <div>{{survey.title}}</div>
        <input type="button" data-id="{{survey._id}}" value="delete survey" class="survey-destroy">
        <label>

        {{#each survey.questions as |question|}}
        <div class="survey-questions">
          <div class="survey-problem">{{question.problem}}</div>

          </div>
        <input class="survey-id" value="{{survey._id}}">
        <input class="survey-problem-id" value="{{question._id}}">
        <input type="radio" name="{{question.id}}" value=true data-bind="checked:IsChecked, checkedValue: true"/>Yes
        <input type="radio" name="{{question.id}}" value=false data-bind="checked:IsChecked, checkedValue: true"/>No

          {{/each}}

      </label>
      <input data-id="{{survey.id}}" class="answer-question" type="submit" name="submit" value="Submit Answer">
    </fieldset>
  </form>
</div>
{{/each}}
</div>
