<div id="surveys-box">
{{#each surveys as |survey|}}
<div class="show-survey" survey-id="{{survey._id}}" author-id={{user.id}}>
      <input type="button" class="survey-show" value="{{survey.title}}" data-id="{{survey._id}}">

      <label class="survey-contents">
        {{survey.title}}
        <div class="submission-error"></div>
        <h5 class=empty-survey></h3>
        <h3 class="answer-length"></h3>
        <div class="add-question-form">
        <form class="style-form" id="question-create">
          <fieldset>
            <label>
              <h3 class="question-fail"></h3>
              <input class="field-style fs1" pattern=".{1,}" required title="1 characters minimum" type="text" name="survey[questions[problem]" placeholder="Add Question To Survey">
              <input class="field-style" type="text" name="survey[id]" placeholder="Survey ID" value="{{survey._id}}" style="display: none;">
            </label>
            <input class="survey-button" type="submit" name="submit" value="Add Question">
          </fieldset>
        </form>
        </div>
        <input type="button" data-id="{{survey._id}}" value="Delete Survey" class="survey-destroy delete-style">
        <label class="questions-style">
          {{#each survey.questions as |question|}}
          <div class="survey-questions">
            <div class="survey-problem question-style">{{question.problem}}</div>
          </div>
        <form>
          <fieldset>
          <input class="survey-id" value="{{survey._id}}" style="display: none;">

          <input class="survey-problem-id" value="{{question._id}}" style="display: none;">
          <div class="box-radios">
          <div class="col-1"><input type="radio" class="col-1-radio" name="{{question.id}}" value=true data-bind="checked:IsChecked, checkedValue: true"/>
            Yes
            <div class="count-true" name="{{question.id}}"></div>
          </div>
          <div class="col-2"><input type="radio" class="col-2-radio" name="{{question.id}}" value=false data-bind="checked:IsChecked, checkedValue: true"/>
            No
            <div class="count-false" name="{{question.id}}"></div>
          </div>
          </div>
          {{/each}}
        </label>
        <input data-id="{{survey.id}}" class="answer-question" type="submit" name="submit" value="Submit Answer">
    </label>
    </fieldset>
  </form>
</div>
{{/each}}
</div>
