<div id="surveys-box">
{{#each surveys as |survey|}}
<div class="show-survey" survey-id="{{survey._id}}" author-id={{user.id}}>
  <form>
    <fieldset>
      <input type="button" class="survey-show" value="{{survey.title}}" data-id="{{survey._id}}">
      <label class="survey-contents">
        {{survey.title}}
        <br>
        Survey ID: {{survey._id}}
        <input type="button" data-id="{{survey._id}}" value="Delete Survey" class="survey-destroy delete-style">
        <label class="questions-style">
          {{#each survey.questions as |question|}}
          <div class="survey-questions">
            <div class="survey-problem question-style">{{question.problem}}</div>
          </div>
          <input class="survey-id" value="{{survey._id}}" style="display: none;">

          <input class="survey-problem-id" value="{{question._id}}" style="display: none;">
          <div class="box-radios">
          <div class="col-1"><input type="radio" name="{{question.id}}" value=true data-bind="checked:IsChecked, checkedValue: true"/>Yes</div>
          <div class="col-2"><input type="radio" name="{{question.id}}" value=false data-bind="checked:IsChecked, checkedValue: true"/>No</div>
          </div>
          {{/each}}
        </label>
        <input data-id="{{survey.id}}" class="answer-question" type="submit" name="submit" value="Submit Answer">
    </label>
    </fieldset>
  </form>
</div>
{{/each}}
</div>
